@media screen and (max-width: 600px) {
  .nav-menu-container {
    display: none;
  }
  .icon {
    display: block;
  }

  .main-banner {
    flex-direction: column;
    gap: 50px;
  }

  .card-container {
    flex-direction: column;
    gap: 20px;
  }
}
