@media screen and (max-width: 600px) {
  .nav-menu-container {
    display: none;
  }
  .icon {
    display: block;
  }

  .main-banner {
    flex-direction: column;
    gap: 50px;
  }

  .card-container {
    flex-direction: column;
    gap: 20px;
  }

  .run-container {
    flex-direction: column;
    gap: 20px;
  }
  .run-content {
    width: 100%;
  }

  .run-image {
    width: 100%;
  }
  .bmi-container {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  .bmi-table {
    width: 100%;
  }

  .bmi-calculator {
    width: 100%;
  }
  form div {
    flex-direction: column;
  }

  form input,
  select {
    width: 100%;
  }

  .activity {
    width: 100%;
  }
}
