@media screen and (max-width: 600px) {
  #main {
    padding: 10px;
  }
  .nav-menu-container {
    display: none;
  }
  .icon {
    display: block;
  }

  .main-banner {
    flex-direction: column;
    gap: 50px;
  }

  .card-container {
    flex-direction: column;
    gap: 20px;
  }

  .run-container {
    flex-direction: column;
    gap: 20px;
  }
  .run-content {
    width: 100%;
  }

  .run-image {
    width: 100%;
  }
  .bmi-container {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  .bmi-table {
    width: 100%;
  }

  .bmi-calculator {
    width: 100%;
  }
  form div {
    flex-direction: column;
  }

  form input,
  select {
    width: 100%;
  }

  .activity {
    width: 100%;
  }

  .team-img-container {
    gap: 5px;
    padding: 5px;
  }

  .name {
    bottom: 10px;
  }

  .name h3 {
    font-size: 13px;
  }
  .name p {
    font-size: 10px;
  }

  footer {
    padding: 10px;
  }

  .footer-container {
    flex-direction: column;
    gap: 50px;
  }

  .footer-flex {
    flex-direction: column;
    gap: 50px;
  }

  .hr {
    margin: 10px 0;
  }
}
