* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
/* font  */
.dancing {
  font-family: "Dancing Script", cursive;
}

#main {
  max-width: 1280px;
  margin: auto;
}

nav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nav styles starts here */
.logo {
  color: #e6533c;
  font-size: 40px;
  font-style: italic;
}

.nav-menu-container {
  border: 1px solid gray;
  padding: 5px 5px;
  border-radius: 25px;
}

.btn {
  color: white;
  padding: 8px 20px;
  border: none;
  font-weight: 600;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.5s;
}
.btn:hover {
  color: #e6533c;
}

.home {
  color: white;
  padding: 8px 20px;
  border: none;
  background: #e6533c;
  font-weight: 600;
  border-radius: 20px;
}

.home:hover {
  color: black;
}

.icon {
  display: none;
}

/* banner styles starts here */

.main-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content h1 {
  font-size: 60px;
}

.banner-content p {
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.join {
  border: none;
  background-color: #e6533c;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}
.download {
  border: 1px solid gray;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}

.banner-image {
  position: relative;
}

.free {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid gray;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  position: absolute;
  bottom: 100px;
  left: 0px;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #e6533c;
}

.free p {
  color: gray;
}

.video {
  border: 1px solid gray;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  position: absolute;
  top: 180px;
  right: 20px;
}

.video p {
  color: gray;
}

/* banner styles ends here */

/* habit section styles starts here */

.habit-content {
  text-align: center;
  margin-top: 100px;
}
.habit-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.habit-content p {
  color: gray;
}

.card-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.card-image img {
  border-radius: 50%;
  width: 100%;
}
.card-content {
  text-align: center;
  margin-top: 20px;
}

.card-content p {
  color: gray;
}
.card-content h4 {
  font-size: 30px;
}
